@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #ffffff;
    --background: #f0f0f0;
    --lighter-background: #f6f6f6;
    --border: #d2cfe0;
}


html, body{
    width: 100%;
    height: 100%;
}
hr {
    border:none;
    border-bottom: 1px solid var(--border);
}
.inter-heading {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: var(--background);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#left{
    min-width: 37%;
    height: 100%;
    padding: 20px 15px;
    position: relative;
    background-color: var(--white);
    border: 1px solid var(--border);
}

#cards{
    height: 100%;
}

#inventory-card,
#shop-card,
#settings-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#shop-card,
#settings-card{
    display: none;
}

#tabs{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 120px;
    padding: 10px 15px 10px 0;
    gap: 10px;
    overflow: hidden;
}

#tabs button{
    border: 1px solid var(--border);
    border-left: none;
    height: 80px;
    width: 120px;
    border-radius: 0 8px 8px 0;
    background-color: var(--white);
    transition-duration: .15s;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
}

#shop-tab,
#settings-tab{
    margin-left: -30px;
}

h1.heading{
    height: 60px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inventory{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;

    gap: 10px;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    padding: 15px 15px;
}

.kafelek{
    width: 100px;
    height: 100px;
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color:var(--lighter-background);
}

.fart{
    width: 100%;
    height: 100%;
    background-color: var(--lighter-background);
    border-radius: 4px;
    border: 1px solid var(--border);
    min-height: 100px;
}

#fertilizers{
    overflow-y: scroll;
    margin-top: auto;
    scrollbar-width: thin;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

#moneycounter {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 16px;
    border: 1px solid var(--border);
    background-color: var(--white);
    font-size: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
}
#garden {
    width: 40vw;
    margin: auto;
    height: 80vh;
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--white);
}
@media (max-width: 1300px) {

    #inventory{
        grid-template-columns: auto auto auto auto auto;
    }
    .kafelek{
        width: 75px;
        height: 75px;
    }
}