@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #ffffff;
    --background: #f0f0f0;
    --lighter-background: #f6f6f6;
    --border: #d2cfe0;
    --gray-text: #ccc;
    

    --secondary: #a02f83;

}
.secondary-color {
    color: var(--secondary);
}
.button-neutral {
    border: 1px solid var(--border);
    background-color: var(--white);
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 8px 12px;
}
.button-primary {
    border: none;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 8px 12px;
}
input, .force-input {
    font-size: 1.2rem;
    border: 1px solid var(--border);
    border-radius: 4px;
}
input {
    padding: 0.675em 1em 0.675em 1em;
}
.force-input {
    display: flex;
    align-items: center;
    padding: 0.675em 1em;
}
html, body{
    width: 100%;
    height: 100%;
}
hr {
    border:none;
    border-bottom: 1px solid var(--border);
}
.inter-heading {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: var(--background);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#left{
    min-width: 37%;
    height: 100%;
    padding: 20px 15px;
    position: relative;
    background-color: var(--white);
    border: 1px solid var(--border);
}

#cards{
    height: 100%;
}

#inventory-card,
#shop-card,
#settings-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#shop-card,
#settings-card{
    display: none;
}

#shop{
    width: 100%;
    padding: 12px 16px;
    max-height: 40%;
}

#shop-filters{
    display: flex;
    gap: 12px;
    height: 75px;
    padding: 12px;
}
#search-bar {
    height: 48px;
    font-size: 1.2rem;
    padding: 0.675em 6em 0.675em 1em;  /* NEEDS CHANGING*/
    background-color: #fff;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    color: #000;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    flex-grow: 1;
}
#search-bar input {
    border: none;
    outline: none;
    font-size: 1.15rem;
    flex-grow: 1;
}
#shop-items-container {
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    margin: 12px;
    margin-top: 0;
    padding: 10px;
}
.shop-item {
    opacity: 0;
    animation: appear 0.1s forwards;
}

#tabs{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 120px;
    padding: 10px 15px 10px 0;
    gap: 12px;
    overflow: hidden;
}

#tabs button{
    border: 1px solid var(--border);
    border-left: none;
    height: 80px;
    width: 120px;
    border-radius: 0 8px 8px 0;
    background-color: var(--white);
    transition-duration: .15s;
    display: flex;
    cursor: pointer;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
}

#shop-tab,
#settings-tab{
    margin-left: -30px;
}

h1.heading{
    height: 60px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inventory{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;

    gap: 10px;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    padding: 15px 15px;
}

.inventory-slot{
    width: 100px;
    height: 100px;
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color:var(--lighter-background);
    transform: translateY(5px);
    opacity: 0;
    animation: appear 0.1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    position: relative;
    padding: 8px;
    box-sizing: border-box;
}
.inventory-slot .slot-image{
    width: 100%;
    height: 100%;
    margin: auto;
}

.inventory-slot .count{
    position: absolute;
    border-radius: 4px;
    padding: 0.16875em 0.5em 0.16875em 0.5em;
    border: 1px solid var(--border);
    background-color: var(--white);
    right: 8px;
    bottom: 8px;
}

.inventory-slot .slot-label{
    position: absolute;
    padding: 0.16875em 0.5em 0.16875em 0.5em;
    left: 4px;
    width: 50%;
    height: 50%;
    bottom: 4px;
}

.fertilizer{
    width: 100%;
    max-width: 40vw;
    background-color: var(--lighter-background);
    border-radius: 4px;
    border: 1px solid var(--border);
    padding: 8px;
    display: flex;
    box-sizing: border-box;
    opacity: 0;
    gap: 8px;
    animation: opacityTransition 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.fertilizer img {
    height: 100%;
    aspect-ratio: 1/1;
}
.fertilizer-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.fertilizer-actions {
    margin-top: auto;
    display: flex;
    margin-left: auto;
    gap: 8px;
    align-items: center;
}

#fertilizers{
    overflow-y: scroll;
    margin-top: auto;
    scrollbar-width: thin;
    width: 100%;
    max-height: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
}

#balance-container {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 16px;
    border: 1px solid var(--border);
    background-color: var(--white);
    font-size: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
}
#garden {
    width: 40vw;
    margin: auto;
    height: 80vh;
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--white);
}
@keyframes appear {
    0%{
        transform: translateY(8px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes opacityTransition {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 1300px) {

    #inventory{
        grid-template-columns: auto auto auto auto auto;
    }
    .inventory-slot{
        width: 75px;
        height: 75px;
    }
}