.tooltip {
    position: absolute;
    max-width: 250px;
    border-radius: 0px 8px 8px 8px;
    background-color: var(--white);
    z-index: 100;
    display: flex;
    gap: 8px;
    padding: 8px;
    flex-direction: column;
    pointer-events: none;
    border: 1px solid var(--secondary);

    transition-property: opacity;
    transition-duration: 0.25s;
}

.tooltip-hidden {
    opacity: 0;
}
.tooltip-visible {
    opacity: 1;
}
