<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="static/css/style_left.css">
    <link rel="stylesheet" href="static/css/custom_select.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/static/js/index.js" type="module"></script>
</head>
<body>
    <div id="left">
        <div id="cards">
            <div id="inventory-card">
                <h1 class="heading inter-heading">Ekwipunek</h1>
                <div id="inventory" class="inter-text"></div>
                <div id="fertilizers"></div>
            </div>
    
            <div id="shop-card">
                <h1 class="heading">Sklep</h1>
                <div id="shop">
                    <div id="shop-filters">
                        <div id="search-bar">
                            <span class="material-symbols-outlined secondary-color" >search</span>
                            <input type="text" name="" id="shop-search" placeholder="Szukaj...">
                        </div>
                        <div class="custom-select">
                            <select id="shop-filter-select">
                                <option value="everything">Wszystko</option>
                                <option value="tree">Drzewa</option>
                                <option value="fruit">Owoce</option>
                                <option value="vegetable">Warzywa</option>
                                <option value="flower">Kwiaty</option>
                            </select>
                        </div>
                    </div>
                    <div id="shop-items-container">
                        <div id="shop-items"></div>
                    </div>
                    
                </div>
    
                <h1 class="heading">Merchant</h1>
                <div id="merchant">
                    
                </div>
            </div>
    
            <div id="settings-card">
                <h1 class="heading">Ustawienia</h1>
            </div>
        </div>
    </div>        
    <div id="tabs">
        <button id="inventory-tab">Ekwipunek</button>
        <button id="shop-tab">Sklep</button>
        <button id="settings-tab">Ustawienia</button>
    </div>
    <div id="garden">

    </div>
    <div id="moneycounter">
        <p class="secondary-color">$</p><p id="balance">123,456,789</p>
    </div>
</body>
</html>