<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="static/css/style_left.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/static/js/index.js" type="module"></script>
</head>
<body>
    <div id="left">
        <h1 class="inv">Ekwipunek</h1>

        <div id="inventory">
            <!-- not final -->
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
            <div class="kafelek"></div>
        </div>

        <div id="fertilizers">
            <!-- not final -->
            <div class="fart"></div>
            <div class="fart"></div>
            <div class="fart"></div>
            <div class="fart"></div>
        </div>
    </div>
</body>
</html>